<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gin.ginblogproject.mapper.NovelMapper">
  <resultMap id="BaseResultMap" type="com.gin.ginblogproject.model.entity.Novel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="source_id" jdbcType="INTEGER" property="sourceId" />
    <result column="isvalid" jdbcType="INTEGER" property="isvalid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="authorization_url" jdbcType="VARCHAR" property="authorizationUrl" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="update_dt" jdbcType="TIMESTAMP" property="updateDt" />
    <result column="source" jdbcType="VARCHAR" property="source" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, author_id, author_name, source_id, isvalid, status, authorization_url, 
    content, create_dt, update_dt, source
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cn_novel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cn_novel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gin.ginblogproject.model.entity.Novel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cn_novel (name, author_id, author_name, 
      source_id, isvalid, status, 
      authorization_url, content, create_dt, 
      update_dt, source)
    values (#{name,jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, #{authorName,jdbcType=VARCHAR}, 
      #{sourceId,jdbcType=INTEGER}, #{isvalid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{authorizationUrl,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createDt,jdbcType=TIMESTAMP}, 
      #{updateDt,jdbcType=TIMESTAMP}, #{source,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gin.ginblogproject.model.entity.Novel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cn_novel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="authorName != null">
        author_name,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="isvalid != null">
        isvalid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="authorizationUrl != null">
        authorization_url,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createDt != null">
        create_dt,
      </if>
      <if test="updateDt != null">
        update_dt,
      </if>
      <if test="source != null">
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="authorizationUrl != null">
        #{authorizationUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null">
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDt != null">
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gin.ginblogproject.model.entity.Novel">
    update cn_novel
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="authorId != null">
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="isvalid != null">
        isvalid = #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="authorizationUrl != null">
        authorization_url = #{authorizationUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null">
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDt != null">
        update_dt = #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gin.ginblogproject.model.entity.Novel">
    update cn_novel
    set name = #{name,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=INTEGER},
      author_name = #{authorName,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=INTEGER},
      isvalid = #{isvalid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      authorization_url = #{authorizationUrl,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_dt = #{createDt,jdbcType=TIMESTAMP},
      update_dt = #{updateDt,jdbcType=TIMESTAMP},
      source = #{source,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>